.itemCardCont {
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100% !important;
    height: 15rem;
    padding: 0 1rem 0 1rem !important;
    margin: 2rem 0 2rem 0;
}

.itemImg {
    max-height: 9rem;
    max-width: 9rem;
}

.cardContLeft {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 50% !important;
    padding: 0 !important;
    gap: 2rem;
}

.cardTextLeft {
    display: flex !important;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    max-width: 70% !important;
    padding: 2rem 0 4rem 0 !important;
    height: 10rem;
}


.cardInfoCont {
    display: flex !important;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    max-width: 100% !important;
    padding: 0 !important;
    gap: 0.5rem;
    font-size: 0.9rem;
    margin: -0.9rem;
}

.cardContRight {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
    padding: 0 !important;
}

.cardInfo {
    color: rgba(255,255,255,0.5);
}

.cardInfoBold {
    font-weight: 500;
    margin: 0 !important;
    padding: 0 !important;
}

.cardName {
    margin: 1.2rem 0 0.2rem 0;
    text-wrap: nowrap;
}

.adminItemInput {
    width: auto !important;
    max-width: 5rem !important;
    height: 1.4rem !important;
    font-size: 0.9rem !important;
    border-radius: 5px !important;
    border: none !important;
    margin: 1.4rem !important;
    padding: 0 !important;
    z-index: 998;
}

.adminItemButton {
    width: 3rem !important;
    height: 1.5rem !important;
    font-size: 0.75rem !important;
    border: none !important;
}

.adminButtonCont {
    display: flex !important;
    align-items: center;
    justify-content: baseline;
    height: 0rem !important;
    padding: 1.2rem 0 0 0 !important;
    margin: 0 !important;
    gap: 1rem;
}

.disabled {
    opacity: 0.5 !important;
    cursor: auto;
}

.unitsContainer {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 30% !important;
    gap: 1rem;
}

@media (max-width: 430px) and (max-height: 932px) {
    .itemCardCont {
        border-top: 1px solid #343434;
        border-bottom: 1px solid #343434;
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 50vw !important;
        height: 10rem;
        padding: 0 1rem 0 1rem !important;
        margin: 2rem 0 2rem 0;
    }
    
    .itemImg {
        max-height: 4rem;
        max-width: 4rem;
    }
    
    .cardContLeft {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 50% !important;
        padding: 0 !important;
        gap: 0.5rem;
    }
    
    .cardTextLeft {
        display: flex !important;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        max-width: 70% !important;
        padding: 2rem 0 4rem 0 !important;
        height: 10rem;
    }
    
    
    .cardInfoCont {
        display: flex !important;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        max-width: 100% !important;
        padding: 0 !important;
        gap: 0.5rem;
        font-size: 0.5rem;
        margin: -1.4rem;
    }
    
    .cardContRight {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        padding: 2rem 0 0 5rem !important;
    }
    
    .cardInfo {
        color: rgba(255,255,255,0.5);
        font-size: 0.4rem;
        text-wrap: nowrap;
        margin: 0;
    }
    
    .cardInfoBold {
        font-weight: 500;
        margin: 1.4rem 0 1.4rem 0 !important;
        padding: 0 !important;
        font-size: 0.5rem;
    }
    
    .cardName {
        margin: 0;
        transform: translate(-37%, 0);
        text-wrap: nowrap;
        font-size: 0.7rem;
    }
    
    .adminItemInput {
        width: 10vw !important;
        max-width: 5rem !important;
        height: 0.9rem !important;
        font-size: 0.6rem !important;
        border-radius: 5px !important;
        border: none !important;
        margin: 1.6rem 0 1.6rem 0.5rem !important;
        padding: 0 !important;
        
    }
    
    .adminItemButton {
        width: 2rem !important;
        height: 1rem !important;
        font-size: 0.5rem !important;
        border: none !important;
    }
    
    .adminButtonCont {
        display: flex !important;
        align-items: center;
        justify-content: baseline;
        height: 0rem !important;
        padding: 2rem 0 0 0 !important;
        margin: 0 0 -2rem 0 !important;
        gap: 1rem;
    }
    
    .disabled {
        opacity: 0.5 !important;
        cursor: auto;
    }
    
    .unitsContainer {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-width: 0 !important;
        gap: 0.2rem;
        font-size: 0.5rem;
    }

    .unitsInput {
        height: 0.9rem !important;
        width: 1.5rem !important;
        border: none !important;
        border-radius: 5px !important;
        font-size: 0.7rem !important;
    }

    .buttonRight {
        width: 2rem !important;
        height: 1rem !important;
        font-size: 0.37rem !important;
    }
}
